h1 {
  color: yellow;
}
h2 {
  font-style: italic;
  color: lightgreen;
}
body {
  background-color: red;
}

p {
  font-family: baroque-text-jf;
  font-style: italic;
  font-weight: 600;
  color: yellow;
}
