
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.board {
  width: 820px;
  border: 10px solid yellow;
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 0;
}
.red, .black {
  width: 100px;
  height: 100px;
  float: left;
}
.red {
  background-color: tomato;
}
.black {
  background-color: #333333;
}
.col {
  width: 50px;
  height: 600px;
  color: red;
  float: right;
}
.header {
  align-items: stretch;
}
.footer {
  height: 200px;
}
.sidebar {

}
.content {

}
