

.mouth {
  height: 20px;
  width: 400px;
  background-color: purple;
  border-radius: 100%;
  top: 350px;
  left: 200px;
  position: absolute;


}
.face {
  position: absolute;
  width: 800px;
  height: 500px;
  border-radius: 100%;
  background-color: black;
  top: 250px;
  left: 500px;
}
.whiskers {
  background-color: yellow;
  height: 5px;
  width: 200px;
  position: absolute;
  top: 220px;
  left: 100px;
  transform: rotate(10deg);
}
.whiskersleft2 {
  background-color: yellow;
  height: 5px;
  width: 200px;
  position: absolute;
  top: 250px;
  left: 100px;
}
.whiskersleft3 {
  background-color: yellow;
  height: 5px;
  width: 200px;
  position: absolute;
  top: 280px;
  left: 100px;
  transform: rotate(-10deg);
}
.whiskersright {
  background-color: yellow;
  height: 5px;
  width: 200px;
  position: absolute;
  top: 220px;
  right: 100px;
  transform: rotate(-10deg);

}
.whiskersright2 {
  background-color: yellow;
  height: 5px;
  width: 200px;
  position: absolute;
  top: 250px;
  right: 100px;

}
.whiskersright3 {
  background-color: yellow;
  height: 5px;
  width: 200px;
  position: absolute;
  top: 280px;
  right: 100px;
  transform: rotate(10deg);
}
.ears {
  width: 0;
  height: 0;
  border-left: 260px solid transparent;
  border-right: 211px solid transparent;
  border-bottom: 300px solid black;
  top: -131px;
  left: -106px;
  position: absolute;
  transform: rotate(-30deg);
}
.earsright {
   width: 0;
   height: 0;
   border-left: 260px solid transparent;
   border-right: 211px solid transparent;
   border-bottom: 300px solid black;
   top: -131px;
   right: -106px;
   position: absolute;
   transform: rotate(30deg);
}
.eyes {
  width: 200px;
  height: 100px;
  background-color: white;
  position: absolute;
  border-radius: 100% ;
  top: 100px;
  left: 100px;
}
.eyesright {
  width: 200px;
  height: 100px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: 100px;
  right: 100px;
}




@keyframes bounce {
  from {
    left: 180px;
  }

  to {
    left: 150px;
  }
}
@keyframes bounce2 {
  from {
    right: 180px;
  }

  to {
    right: 150px;
  }
}
.pupils{
  height: 85px;
  width: 65px;
  background-color: green;
  border-radius: 50%;
  top: 115px;
  left: 180px;
  position: absolute;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-direction: alternate;
}
.pupilsright{
  height: 85px;
  width: 65px;
  background-color: green;
  border-radius: 50%;
  top: 115px;
  right: 180px;
  position: absolute;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce2;
  animation-direction: alternate;
}
.nose {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid pink;
  position: absolute;
  top: 200px;
  left: 350px;
}
.body {
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  background-color: black;
  top: 650px;
  left: 500px;
}
.feetright {
  width: 250px;
  height: 200px;
  background-color: gray;
  border-radius: 100%;
  position: absolute;
  top: 650px;
  right: 100px;
}
.feetleft {
  width: 250px;
  height: 200px;
  background-color: gray;
  position: absolute;
  border-radius: 100% ;
  top: 650px;
  left: 100px;
}
.toe1 {
  width: 30px;
  height: 80px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  top: 150px;
  left: 40px;
}
.toe2 {
  width: 30px;
  height: 80px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  top: 150px;
  left: 90px;
}
.toe3 {
  width: 30px;
  height: 80px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  top: 150px;
  left: 140px;
}
.toe4 {
  width: 30px;
  height: 80px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  top: 150px;
  left: 190px;
}
.tail {
  width: 900px;
  height: 80px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
  left: 420px;
}
