
.container,ears,earsright {
  position: absolute;
  float: left;
}

.mouth {
  height: 20px;
  width: 400px;
  background-color: purple;
  border-radius: 100%;
  top: 250px;
  left: 250px;
  float: left;

}
.headoval {
  width: 800px;
  height: 500px;
  border-radius: 100%;
  float: left;
  background-color: black;
}
.whiskers {
  background-color: yellow;
  height: 50px;
  width: 400px;
  float: left;
}
.whiskers.right{
  background-color: yellow;
  height: 50px;
  width: 400px;
  float: left;
}
.ears {
  background-color: black;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid black;
  top: 10px;
  left: 10px;
  float: left;
}
.ears.right {
   transform: translateX(20px);
   float: left;
}
.eyes {
  width: 20px;
  height: 10px;
  background-color: red;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  float: left;
}
.eyes.right {
  transform: translateX(20px);
  float: left;
}
.pupils{
  height: 5px;
  width: 5px;
  background-color: white
  border-radius: 5%
  float: left;
}
.pupils.right{
  transform: translateX(20px);
  float: left;
}
.nose {
  width: 0;
  height: 0;
  border-left: 5px;
  border-right: 5px;
  border-top: 10px;
  float: left;
  background-color: pink;
}
.face,headoval,eyes,nose,mouth,whiskers {
    position: absolute;
    float: left;
  }
}
html{
	background-color: #FCE5AF;
}
.drawing-holder{
	width: 150px;
	height: 100px;
	position: absolute;
	margin-top: -50px;
	margin-left: -50px;
	top: 50%;
	left: 50%;
}
.cat-face{
	background-color: gray;
	width: 150px;
	height: 100px;
	border-radius: 50%;
	display: block;
	position: relative;
	float: left;
}

.cat-nose{
	position: absolute;
    bottom: 0;
    z-index: 1;
    left: 26px;
    width: 8px;
    height: 0px;
    border-right: 46px solid transparent;
    border-left: 46px solid transparent;
    border-bottom: 82px solid white;
    border-radius: 50%;
}

.cat-nose:after{
	display: block;
	content: "";
	position: absolute;
	top: 50px;
    left: 50%;
    margin-left: -5px;
	width: 0;
	height: 0;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 5px solid pink;
}

.cat-mouth{
	width: 50px;
	height: 11px;
	position: absolute;
	top: 73px;
	left: 50%;
	margin-left: -25px;
	z-index: 2;
	overflow: hidden;
}

.cat-mouth:before{
	content: "";
	display: block;
	position: absolute;
	left: 3px;
	bottom: 0;
	border: 2px solid #000;
	width: 20px;
	height: 13px;
	border-radius: 50%;
}

.cat-mouth:after{
	content: "";
	display: block;
	position: absolute;
	right: 3px;
	bottom: 0;
	border: 2px solid #000;
	width: 19px;
	height: 13px;
	border-radius: 50%;
}

.cat-eyes{
	position: absolute;
	top: 50px;
	width: 55px;
	left: 50%;
	margin-left: -27px;
	z-index: 2;
}

.cat-eyes:before{
	position: absolute;
	display: block;
	content: "";
	width: 15px;
	height: 13px;
	background-color: #000;
	left: 0;
	top: 0;
	border-radius: 50%;
}

.cat-eyes:after{
	position: absolute;
	display: block;
	content: "";
	width: 15px;
	height: 13px;
	background-color: #000;
	right: 0;
	top: 0;
	border-radius: 50%;
}

.cat-face:before{
	position: absolute;
	display: block;
	content: "";
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 40px solid black;
	border-radius: 5px;
	left: -15px;
	top: -5px;
	transform: rotate(-40deg);
}

.cat-face:after{
	position: absolute;
	display: block;
	content: "";
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 40px solid black;
	border-radius: 5px;
	right: -15px;
	top: -5px;
	transform: rotate(40deg);
}
